*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.back{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}

.gallery-container{
    background-color: lightblue;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.media-container{
    height: 15rem;
    width: 15rem;
    border: 10px solid white;
    background-color: lightsalmon;
    margin: 2rem;
}

.media{
    height: calc(100% - 4rem);
}

.media > * {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.action-btn{
    height: 2rem;
    color: white;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.download{
    background-color: black;
}
.delete{
    background-color: red;
}